<!--ユーザ情報の詳細-->
<div>

  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>

  <!--プロフィールの編集リンクを追加-->
  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>


<!--ユーザーの投稿一覧-->
<!--インスタンス変数だけではデータを絞ることができないので、
eachメソッドでデータを取り出す必要がある-->
<!--部分テンプレートに記述するため削除-->

<!--部分テンプレートの呼び出し-->
<!--render '部分テンプレートのパス（同一ファイル部分は省略可、拡張子も省略可）', [ローカル変数]：[代入する値]-->
<%= render 'post_images/list', post_images: @post_images %>
